.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* ... */
}

.close-modal-btn {
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}
